
<!-- LIEN COMMERCIAL TOP -->
<div id="liens-commerciaux_{{lien_id}}" class="bloc liens-commerciaux clearfix">

    <!-- bloc CSA -->
    <div id="bloc_csa_{{lien_id}}"></div>

    <!-- Début du code d'appel CSA --> 
</div>
<!-- /LIEN COMMERCIAL TOP -->