<div {{ this.bbcontent(null, {'class': 'row padding-top'})|raw }}>
    <div class="">
        <div class="">
            {{ this.render(recherche_results_bloc)|raw }}
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-1000-4 col-md-3">
        {{ this.render(recherche_right_bloc)|raw }}
    </div>
</div>